.s-btn-centered {
  text-align: center;
}

.ui-header .ui-title.user_info {
  text-align: right;
  margin: 0 3%;
}

.ui-header .ui-title.user_info .star {
  font-size: 1.2em;
  padding: 0 10px 0 3px;
}
